[Unit]
Description=W124 Qt Cluster
After=graphical.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Zeiger/qt_cluster
ExecStart=/home/pi/Zeiger/qt_cluster/pi/start_qt_kiosk.sh
Restart=always
RestartSec=2
Environment=QT_QPA_PLATFORM=wayland

[Install]
WantedBy=graphical.target
